/* Pagination */

.pagination {
	clear: both;
	margin: space(divider, m);
	text-align: center;

	&.archive-pagination,
	&.adjacent-entry-pagination {
		display: flex;
		width: 100%;
		margin: 0;
		justify-content: space-between;

		.pagination-wrapper {
			padding: space(column, s);
		}

		.pagination-previous,
		.pagination-next {
			width: 100%;
			background-color: color(brand-color-orange, base);
			border-radius: 8px;
			color: $white-color;
			padding: 1rem;
			font-weight: 700;

			&:hover,
			&:focus {
				background-color: color(brand-color-orange, base);
				color: $white-color;
				transform: translateY(-10%);
				transition: $base-transition;
			}

			&.active {
				background-color: color(brand-color-orange, base);
				color: $white-color;
				transform: translateY(-10%);
				transition: $base-transition;
			}
		}
	}
}
