/** Stackable front end blocks
*
*	- Header
*
*/

/* Header content wrapper */
.ugb-header.ugb-header--v3.ugb-header--design-half-overlay .ugb-content-wrapper {
	padding: 50px !important;
}

.ugb-highlight {
	text-decoration: underline;
}

.ugb-inner-block--center {
	--block-max-width: 600px;
}

.ugb-inner-block--wide {
	--block-max-width: 1100px;
}

.ugb-inner-block--full {
	--block-max-width: 1400px;
}
