/* Avatar */

.avatar {
	border-radius: 50%;
	float: left;
	height: space(m);
	margin: space(right-bottom, xs);
	width: space(m);
	border: 1px solid color(brand-color-orange, base);
	box-sizing: border-box;
}

.alignright {

	.avatar {
		margin: space(left-bottom, xs);
	}
}
