/* Titles */

.entry-title,
.pagination-previous,
.pagination-next,
.widget-title {
	color: color(brand-color-dark-blue, base);

	> a {
		color: color(brand-color-orange, base);
		text-decoration: none;

		&:focus,
		&:hover {
			color: color(brand-color-orange, soft);
		}
	}
}

.archive-title,
.entry-title,
.page-title {
	text-align: center;
	line-height: 1.2;
}
